@import url('https://fonts.cdnfonts.com/css/bahnschrift');

@media screen and (max-width: 426px) {
    
    :root {
        touch-action: pan-x pan-y;
        height: 100%;
        overflow: hidden;
    }

    
    #btn_openSidebar {
        top: 5vw;
        left: 5vw;
    }
    
    #sidebar {
        width: 60vw;
        left: -60vw;
    }

    .sidebarButton:hover {
        box-shadow: 0;
    }


    #management_buttons {
        position: fixed;
        width: 60vw;
        bottom: 10vh;
        /* transform: translateY(-100%); */
    }

    #btn_login {
        display: none;
        height: 0;

    }
}