@font-face {
    font-family: "particle";
    src: url("./../fonts/Particle-Regular.otf");
}

@import url('http://fonts.cdnfonts.com/css/bahnschrift');


body {
    margin: 0;
    background-color: #001828;
}


#btn_openSidebar {
    background-image: url("./../images/menu_icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(100%);
    
    z-index: 1;
    position: absolute;
    
    height: 40px;
    width: 40px;
    top: 50px;
    left: 50px;
}


#sidebar {
    background-color: #001016;

    position: fixed;
    z-index: 5;
    
    width: 20%;
    height: 100vh;
    left: -20%;

    padding-bottom: 44%;
    margin-top: 1%;
    margin-left: 0%;
    margin-right: auto;
    margin: 0;

    color: white;
}


#sidebarLogo {
    /* background-color: rgba(255, 255, 255, 0.3);
    background-image: url(./../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat; */
    /* background-position: center; */
    /* cursor: pointer;

    width: 100%;
    height: 60px; */
}

.sidebarButton {
    /* float: left; */
    font-family: particle;
    font-size: 20px;
    letter-spacing: 4px;
    cursor: pointer;
    text-align: left;
    padding: 5% 0;
    padding-left: 10%;
    width: 90%;
    transition: all .60s;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.sidebarButton:hover {
    background-color: #667eea;
    transform: scaleY(1.1);
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.5);
}

.activeButton {
    color: #A7A7A7;
}

#management_buttons {
    position: absolute;
    top: 100vh;

    width: 100%;

    transform: translate(0, -100%);
}



#content {
    background-color: #001828;
    color: white;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
}

