@media screen and (min-width: 426px) {

    body {
        overflow-y: hidden;
    }

    #footer {
        position: absolute;
        transform: translate(0, 100%);
        width: 100%;
        z-index: 30;
        left: 0;
        bottom: 0;
        transition: transform .5s ease-in-out;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #footer[data-open="1"] {
        transform: translate(0, 0);
    }

    #footer-container{
        height: 100%;
    }

    /**************************************/
    /*******       Footer Top       *******/
    /**************************************/

    #top-footer{
        background-color: #667eea;
        width: 100%;
        padding: 1em 0;
    }

    #top-footer__wrapper {
        margin-left: auto;
        margin-right: auto;
        padding: 0 7.5em;
        max-width: calc(123em + 7.5em + 7.5em);
    }

    #top-footer a{
        color: white;
        text-align: left;
        font-size: 2em;
        font-family: Verdana, serif;
    }


    /**************************************/
    /*******       Footer Mid       *******/
    /**************************************/

    #mid-footer{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding: 2.5em 7.5em;
        max-width: calc(123em + 7.5em + 7.5em);
        gap: 30em;
        background-color: #001828;
        justify-content: center;
        overflow: hidden;
    }



    #description-split, #contakt-split, #link-split{
        font-family: Verdana, serif;
        color: white;
        font-size: 1.8em;
        font-weight: bold;
    }



    #beschreibung_text, #kontakte_text, #links_text {
        font-size: 1.8em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }

    #footer-line{
        border-radius: 5em;
        background-color: #667eea;
        height: 2px;
        width: 7em;
        margin-top: 0.75em;
        margin-bottom: 1.75em;
    }

    #links_text {
        display: flex;
        cursor: pointer;
        margin-bottom: 1em;
    }

    #links_text:last-child {
        display: flex!important;
        cursor: pointer;
        margin-bottom: 0;
    }

    /********************************************/
    /*******       Footer Copyright       *******/
    /********************************************/

    #copyright{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1em 0;
        background-color: #030f16;
    }

    #copyright a{
        color: white;
        font-size: 1.3em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
