body {
    overflow-y: hidden;
}

#footer {
    z-index: 10;
    position: absolute;
    top: 100%;
    width: 100%;
}

#footer-container{
    height: 100%;
}

/**************************************/
/*******       Footer Top       *******/
/**************************************/

#top-footer{
    background-color: #667eea;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#top-footer a{
    color: white;
    text-align: left;
    padding-left: 8%;
    size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/**************************************/
/*******       Footer Mid       *******/
/**************************************/

#mid-footer{
    width: 100%;
    background-color: #001828;
    display: flex;
    padding-bottom: 1%;
}

#beschreibung{
    margin-top: 1%;
    margin-left: 8%;
    width: 400px;
    padding-right: 2%;
}
#kontakte, #nuetzliche-links{
    margin-top: 1%;
    width: 400px;
    padding-right: 2%;
}

#description-split, #contakt-split, #link-split{
    padding-top: 1%;
    font-family: Verdana;
    color: white;
    font-size: 20px;
    font-weight:normal
}


#beschreibung a, #kontakte a, #nuetzliche-links a{
    size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#footer-line{
    border-radius: 50px;
    background-color: #667eea;
    height: 2px;
    width: 17.5%;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

#links_text{
    cursor: pointer;
    size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    display: flex;
    margin-bottom: 5%;
}

/********************************************/
/*******       Footer Copyright       *******/
/********************************************/

#copyright{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #030f16;
    width: 100%;
    display: flex;
}

#copyright a{
    color: white;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}