@media screen and (max-width: 426px) {
    body {
        overflow-y: hidden;
        margin: 0;
    }

    #footer
    {
        position: absolute;
        transform: translate(0, 100%);
        width: 100%;
        z-index: 30;
        left: 0;
        bottom: 0;
        transition: transform .5s ease-in-out;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #footer[data-open="1"] {
        transform: translate(0, 0);
    }

    #footer-container{
        height: 100%;
    }

    /**************************************/
    /*******       Footer Top       *******/
    /**************************************/

    #top-footer{
        background-color: #667eea;
        width: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    #top-footer a{
        color: white;
        text-align: left;
        padding-left: 3.5%;
        font-size: 1.5em;
        font-family: Verdana;
    }


    /**************************************/
    /*******       Footer Mid       *******/
    /**************************************/

    #mid-footer{
        background-color: #001828;
        padding-bottom: 1%;
        overflow: hidden;
    }

    #beschreibung{
        margin-top: 2.5%;
        margin-bottom: 3%;
        margin-left: 5%;
        width: 100%;
    }

    #nuetzliche-links{
        margin-top: 1%;
        margin-bottom: 3%;
        margin-left: 5%;
        width: 100%;
    }
    #kontakte{
        margin-top: 1%;
        margin-bottom: 2.5%;
        margin-left: 5%;
        width: 100%;
    }

    #description-split, #contakt-split, #link-split{
        font-family: Verdana;
        color: white;
        font-size: 1.5em;
        font-weight:normal;
    }


    #beschreibung_text, #kontakte_text, #links_text{
        font-size: 1.2em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }

    #footer-line{
        border-radius: 5em;
        background-color: #667eea;
        height: 0.2em;
        width: 17.5%;
        margin-top: 1.5%;
        margin-bottom: 1%;
    }

    #links_text {
        display: flex;
        cursor: pointer;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 1em;
    }

    #links_text:last-child {
        display: flex!important;
        cursor: pointer;
        margin-bottom: 0;
    }

    /********************************************/
    /*******       Footer Copyright       *******/
    /********************************************/

    #copyright{
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        background-color: #030f16;
        width: 100%;
        display: flex;
    }

    #copyright a{
        color: white;
        font-size: 1.2em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: auto;
    }
}