body {
    margin: 0;
    padding: 0cm;
}

#main {
    margin-top: 25%;
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
}

#randomNeverHaveIEverText {
    /* background-color: lightgray; */
    width: 100%;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    text-align: center;
}
#randomNeverHaveIEverText a{
    font-size:  30px;

}

#nextQuestionButton {
    margin: auto;
    color: white;
    font-size: 1.8vw;
    font-family: 'Bahnschrift', Bold;
    border-radius: 150px;
    cursor: pointer;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    width: 25%;
    margin-top: 5%;
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right,#764ba2  0%, #667eea 50%,  #667eea 50%);
    background-size: 200% 100%;
    background-position: left;
    transition: all .75s;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
#nextQuestionButton:hover {
    color: #fff;
    background-position: right;
    transform: scale(1.1);
}

#button{
    width: 100%;
}