body {
    margin: 0;
    padding: 0cm;
}
#randomNeverHaveIEverText {
    background-color: lightgray;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
    text-align: center;
}
#randomNeverHaveIEverText a{
    font-size:  30px;

}

#nextQuestionButton {
    display: inline-block;
    margin-left: 50%;
    padding: 2%;
    transform: translate(-50%, 0%);
    margin-top: 1%;
    background-color: lightgray;
    color: black;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    border: solid;
    border-width: 1px;
    border-color: black;
}
#nextQuestionButton:hover {
    background-color: black;
    color: white;
}
#main {
    float: left;
    margin-left: 13.1%;
    margin-top: 25%;
    transform: translate(0%, -50%);
    background-color: green;
    width: 86.9%;
    height: 100%;
}