body {
    margin: 0;
    padding: 0cm;
}

#main {
    margin-left: 50%;
    margin-top: 25%;
    transform: translate(-50%, -50%);
    /* background-color: green; */
}

#randomNeverHaveIEverText {
    /* background-color: lightgray; */
    margin-left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
    text-align: center;
}
#randomNeverHaveIEverText a{
    font-size:  30px;

}

#nextQuestionButton {
    background-color: rgb(85, 139, 204);

    /* display: inline-block; */
    margin-left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 5%;
    padding: 5% 1%;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}
#nextQuestionButton:hover {
    /* background-color: black;
    color: white; */
    background-color: rgb(62, 100, 146);
}