body {
    margin: 0;
}

#sidebar {
    margin-top: 1%;
    margin-left: 0%;
    margin-right: auto;
    width: 13%;
    background-color: gray;
    float: left;
}

.div-styled {
    float: left;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    cursor: pointer;
    text-align: center;
    padding-top: 13%;
    padding-bottom: 13%;
    width: 100%;
    border: solid;
    border-width: 1px;
    border-color: black;
}

.div-styled:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}