body {
    background-color: #001828;

    margin: 0;
}

#selectGameDiv {
    position: relative;
    /* background-color: yellow; */

    width: 300px;
    height: 300px;
    margin-left: 50%;
    margin-top: 25%;
    transform: translate(-50%, -50%);
}

#selectGame {
    position: absolute;
    background-color: #001016;
    font-size: 15px;

    width: 80%;
    left: 50%;
    padding: 15px;
    transform: translate(-50%, 0);
    border: 0;
    border-radius: 150px;
    
    color: white;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#suggestionText {
    position: absolute;
    background-color: white;
    font-size: 15px;
    
    width: 80%;
    height: 5%;
    top: 50%;
    left: 50%;
    padding: 15px;
    transform: translate(-50%, 0);
    border: 0;
    border-radius: 150px;
    
    color: #B2B2B2;
    font-weight: bold;

}

#submitSuggestion {
    position: absolute;
    background-color: #001828;
    top: 100%;
    left: 10%;
    padding: 10px;
    color: white;

    font-family: 'Bahnschrift', Bold;
    border-radius: 150px;
    cursor: pointer;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding: 15px;
    width: 80%;
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right,#764ba2  0%, #667eea 50%,  #667eea 50%);
    background-size: 200% 100%;
    background-position: left;
    transition: all .75s;
    
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#submitSuggestion:hover {
    /* background-color: #667EEA; */
    background-position: right;
    transform: scale(1.1);
}