@media screen and (max-width: 426px) {
    body {
        margin: 0;
        padding: 0;
    }

    #main {
        margin-top: 25%;
        transform: translate(0%, -50%);
        width: 100%;
        text-align: center;
        align-content: center;
        align-items: center;
    }

    #randomText ,
    #truthOrDareType{
        /* background-color: lightgray; */
        width: 100%;
        margin-left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        text-align: center;
        font-size:  3.8vw;
    }


    .randomButtonText {
        margin: auto;
        color: white;
        font-size: 3.8vw;
        font-family: 'Bahnschrift', Bold;
        border-radius: 150px;
        cursor: pointer;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 40%;
        margin-top: 5%;
        box-shadow: 20px 20px 26px rgba(0, 0, 0, 0.5);
        background: linear-gradient(to right,#764ba2  0%, #667eea 50%,  #667eea 50%);
        background-size: 200% 100%;
        background-position: left;
        transition: all .75s;

        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
    }
    .randomButtonText:hover {
        color: #fff;
        background-position: right;
        transform: scale(1.1);
    }

    #btn_generateRandom {
        width: 100%;
    }

    #nextTruthButton{
        margin-right: 1.5%;
    }
    #nextDareButton{
        margin-left: 1.5%;
    }
}