body {
    font-size: 68.8%;
}

@media (max-width: 1920px) {
    body {
        font-size: 62.5%;
    }
}
@media (max-width: 1600px) {
    body {
        font-size: 56.3%;
    }
}
@media (max-width: 1366px) {
    body {
        font-size: 50%;
    }
}
@media (max-width: 1024px) {
    body {
        font-size: 62.5%;
    }
}
@media (max-width: 767px) {
    body {
        font-size: 62.5%;
    }
}
@media (max-width: 480px) {
    body {
        font-size: 60%;
    }
}
@media (max-width: 350px) {
    body {
        font-size: 50%;
    }
}
@media (max-width: 320px) {
    body {
        font-size: 48%;
    }
}

[data-wrap-width="large"] {
    margin-left: auto;
    margin-right: auto;
    padding-left: 6em;
    padding-right: 6em;
    max-width: calc(180em + 6em + 6em);
}

@media screen and (max-width: 1024px) {
    [data-wrap-width="large"] {
        padding-left: 2.5em;
        padding-right: 2.5em;
        max-width: calc(180em + 2.5em + 2.5em);
    }
}

@media screen and (max-width: 767px) {
    [data-wrap-width="large"] {
        padding-left: 2em;
        padding-right: 2em;
        max-width: calc(180em + 2em + 2em);
    }
}

[data-wrap-width="medium"] {
    margin-left: auto;
    margin-right: auto;
    padding-left: 6em;
    padding-right: 6em;
    max-width: calc(138.5em + 6em + 6em);
}

@media screen and (max-width: 1024px) {
    [data-wrap-width="medium"] {
        padding-left: 2.5em;
        padding-right: 2.5em;
        max-width: calc(138.5em + 2.5em + 2.5em);
    }
}

@media screen and (max-width: 767px) {
    [data-wrap-width="medium"] {
        padding-left: 2em;
        padding-right: 2em;
        max-width: calc(138.5em + 2em + 2em);
    }
}

[data-wrap-width="small"] {
    margin-left: auto;
    margin-right: auto;
    padding-left: 6em;
    padding-right: 6em;
    max-width: calc(83em + 6em + 6em);
}

@media screen and (max-width: 1024px) {
    [data-wrap-width="small"] {
        padding-left: 2.5em;
        padding-right: 2.5em;
        max-width: calc(83em + 2.5em + 2.5em);
    }
}

@media screen and (max-width: 767px) {
    [data-wrap-width="small"] {
        padding-left: 2em;
        padding-right: 2em;
        max-width: calc(83em + 2em + 2em);
    }
}