/**********************************/
/*******       Import       *******/
/**********************************/

@import url('http://fonts.cdnfonts.com/css/bahnschrift');


/*************************************/
/*******       Main Site       *******/
/*************************************/

body {
    background-color: #001828;
    margin: 0;

    overflow: hidden;
}


#logo {
    background-image: url("./images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    /*background-color: #001828;*/
    background-position: center;

    position: absolute;
    width: 40%;
    height: 20%;
    /* min-height: 200px; */
    margin-top: 2%;
    top: 2%;
    margin-left: 50%;
    transform: translate(-50%, 0%);

    border-radius: 150px;
    border: solid 30px rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
}

#buttons_auto_apperance {
    /* background-color: black; */
    height: 100%;

    
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.gameButton {
    color: white;
    font-size: 1.2vw;
    font-family: 'Bahnschrift', Bold;
    border-radius: 150px;
    cursor: pointer;
    text-align: center;
    /* height: 50%; */
    padding-top: 3%;
    padding-bottom: 3%;
    width: 20%;
    /* border: solid;
    border-width: 1px;
    border-color: black; */
    margin-top: 5%;
    /* transform: translate(-50%, 0%); */
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right,#764ba2  0%, #667eea 50%,  #667eea 50%);
    background-size: 200% 100%;
    background-position: left;
    transition: all .75s;
}

.gameButton:hover {
    color: #fff;
    background-position: right;
    transform: scale(1.1);
}


@media screen and (max-width: 2048px){
    .gameButton {
        display: inline-block;
    }

    #buttons_auto_apperance {
        margin-top: 25%;
        margin-left: 15%;
        margin-right: 15%;
        transform: translate(0%, -50%);
    }

}

@media screen and (max-width: 992px) {
    #logo {
        height: 10%;
        border-radius: 50px;
        border: solid 10px rgba(255, 255, 255, 0.5);
    }
    .gameButton {
        width: 28%;
        display: inline-block;
        font-size: 10px;
        padding: 7.22%;
    }
    #buttons_auto_apperance {
        width: 100%;
        margin-left: 0;
        margin-top: 80%;
        transform: translate(0%, -50%);
    }
}

@media screen and (max-width: 600px) {
    #logo {
        height: 5%;
        border-radius: 30px;
        border: solid 10px rgba(255, 255, 255, 0.5);
    }
    .gameButton {
        width: 28%;
        display: inline-block;
        font-size: 10px;
        padding: 7.22%;
    }
    #buttons_auto_apperance {
        width: 100%;
        margin-left: 0;
        margin-top: 80%;
        transform: translate(0%, -50%);
    }
}


