@media screen and (max-width: 426px) {
    :root {
        touch-action: pan-x pan-y;
        height: 100%;
        overflow: hidden;
    }
    body {
        width: 100vw;
        height: 100vh;
        background-color: #001828;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
    }

    #logo {
        background-image: url("./images/logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #998115;
        filter: invert(100%);

        position: relative;
        background-size: 22%;
        background-position: 10%;
    
        width: 70vw;
        height: 15%;
        top: 5%;
        left: 15vw;
        /* margin: auto; */
        transform: translate(0vw, 0%);
        margin: 0;
        padding: 0;
    
        border-radius: 150px;
        /* background-clip: padding-box; */
        border: 0;
        background-clip: padding-box;
    }

    #logo p {
        position: absolute;
        font-size: 8vw;
        font-weight: bold;
        font-family: 'Bahnschrift', Bold;

        right: calc(90% - 40px - 40px);
        top: 50%;
        transform: translate(100%, -50%);

        margin: 0;
        padding: 0;

        /* color: white; */
    }

    
    #buttons_auto_apperance {
        position: absolute;

        width: 90%;
        top: 25vh;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 0;
    }

    .gameButton {
        color: white;
        font-family: 'Bahnschrift', Bold;
        border-radius: 150px;
        cursor: pointer;
        text-align: center;
        box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.5);
        background: linear-gradient(to right,#764ba2  0%, #667eea 50%,  #667eea 50%);
        background-size: 200% 100%;
        background-position: left;
        width: 63%;
        font-size: 3.5vw;
        padding-top: 7.5%;
        padding-bottom: 7.5%;
        margin: auto;
        margin-top: 5vh;
    }
}