@import url('https://fonts.cdnfonts.com/css/bahnschrift');

:root {
    touch-action: pan-x pan-y;
    height: 100%;
}

body {
    background-color: #001828;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

#sg--section-main {
    position: relative;
    z-index: 10;
}

#sg--content {
    display: flex;
    justify-content: center;
}

#sg--content--main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#heads__container__wrapper {
    width: 80em;
    margin-top: 6em;
    background-color: #667eea;
    border-radius: 15em;
    user-select: none;
}

#content {
    position: relative;
    margin-left: 7em;
}

#content__wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8em;
    filter: invert(1);
}

#heads__logo {
    width: 150px;
    padding: 2em 0;
}

#heads__text {
    font-size: 7em;
    font-weight: bold;
    font-family: 'Bahnschrift', Bold;
    margin: 0;
}

#buttons {
    width: 100%;
}

#buttons__wrapper {
    width: 100%;
    margin-top: 6em;
    border-radius: 15em;
    user-select: none;
}

#buttons_auto_apperance {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 5em;
}

.gameButton {
    float: left;
    color: white;
    font-size: 2em;
    font-family: 'Bahnschrift', Bold;
    border-radius: 150px;
    cursor: pointer;
    text-align: center;
    padding: 2em 0;
    width: 15em;
    margin: 0 5%;
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right,#764ba2  0%, #667eea 50%,  #667eea 50%);
    background-size: 200% 100%;
    background-position: left;
    transition: all .75s;
}

.gameButton:hover {
    color: #fff;
    background-position: right;
    transform: scale(1.1);
}

#links_text {
    display: none!important;
}

@media screen and (max-width: 850px) {
    #heads__container__wrapper {
        width: 70em;
    }

    #content {
        margin-left: 6em;
    }

    #heads__logo {
        width: 125px;
    }
}

@media screen and (max-width: 767px) {



    body {
        background-color: #001828;
        margin: 0;
        padding: 0;

        overflow: hidden;
    }

    #saufgames {
        margin-left: auto;
        margin-right: auto;
        padding-left: 3em;
        padding-right: 3em;
        max-width: calc(112em + 3.5em + 3.5em);
    }

    #sg--section-main {
        position: relative;
        z-index: 10;
    }

    #sg--content {
        display: flex;
        justify-content: center;
    }

    #sg--content--main {
        position: relative;
    }

    #heads__container__wrapper {
        width: 35em;
        margin-top: 6em;
        background-color: #667eea;
        border-radius: 15em;
        user-select: none;
    }

    #content {
        position: relative;
        margin-left: 1.5em;
    }

    #content__wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 3em;
        filter: invert(1);
    }

    #heads__logo {
        width: 25%;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #heads__text {
        font-size: 3.5em;
        font-weight: bold;
        font-family: 'Bahnschrift', Bold;
        margin: 0;
    }

    #buttons {
        display: flex;
        justify-content: center;
    }

    #buttons__wrapper {
        width: 35em;
        margin-top: 6em;
        border-radius: 15em;
        user-select: none;
    }


    #buttons_auto_apperance {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 3em;
    }

    .gameButton:nth-child(1) {
        margin-top: 0;
    }

    .gameButton {
        color: white;
        font-family: 'Bahnschrift', Bold;
        border-radius: 150px;
        cursor: pointer;
        text-align: center;
        box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.5);
        background: linear-gradient(to right,#764ba2  0%, #667eea 50%,  #667eea 50%);
        background-size: 200% 100%;
        background-position: left;
        width: 15em;
        font-size: 1.5em;
        padding: 1.75em 0;
    }
}