#sidebar {
    position: fixed;
    z-index: 10000000;
    padding-bottom: 44%;
    margin-top: 1%;
    margin-left: 0%;
    margin-right: auto;
    width: 15%;
    background-color: gray;
    float: left;
}

.sidebarButton {
    cursor: pointer;
}

#content {
    width: 75%;
    float: right;
}