body {
    margin: 0;
}

#sidebar {
    background-color: #001016;

    position: fixed;
    
    width: 20vw;
    height: 40vh;

    padding-bottom: 30%;
    margin-top: 1%;
    margin-left: 0%;
    margin-right: auto;
    margin: 0;

    color: white;
}
.sidebarButton {
    font-family: particle;
    font-size: 20px;
    letter-spacing: 4px;
    cursor: pointer;
    text-align: left;
    padding: 5% 0;
    padding-left: 10%;
    width: 90%;
    transition: all .60s;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.sidebarButton:hover {
    background-color: #667eea;
    transform: scaleY(1.1);
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.5);
}

.activeButton {
    color: #A7A7A7;
}

#profileDiv {
    background-color: rgb(76, 76, 76);
    padding: 20px 0;
}

#profileDiv p {
    font-size: 25px;

    width: fit-content;
    padding: 0;
    margin: 0;
    margin-left: 50%;
    transform: translate(-50%, 0);
}
.sidebarButton  p {
    font-size: 23px;
    width: 100%;
    height: fit-content;
    text-align: center;
    margin: 0;
}


#logoutButton {
    position: absolute;
    bottom: 0;
}


#selected {
    border: 2px black;
}



#content {
    width: 80vw;
    height: 100%;
    float: right;
}