#resultsScrollDiv {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 60vw;
    height: 80vh;
    max-height: 20%;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.singleResult {
}